# Whether to enable logging or not
LOGGING="true"

# Directory where the Images are saved (if serving from EC2)
IMAGE_DIRECTORY="static/images"

# URL for S3 bucket
S3_BASE_URL="https://<your-bucket-name>.s3.<zone>.amazonaws.com"

# supported db modes are:
    # 'local'  : Local MySQL Server
    # 'remote' : RDS MySQL Server
DB_MODE="remote"

# Set the credentials for the RDS-mysql database:
DB_HOST="<name.id.zone>.rds.amazonaws.com"
DB_USER="your_db_user"
DB_PASSWORD="your_db_password"
DB_DB="your_db_name"
DB_CHARSET="utf8mb4"

# Set the credentials for the local database:
LOCAL_DB_HOST="localhost"
LOCAL_DB_USER="your_db_user"
LOCAL_DB_PASSWORD="your_db_password"
LOCAL_DB_DB="your_db_name"
LOCAL_DB_CHARSET="utf8mb4"

# Flask Setup:
FLASK_SECRET_KEY="enter_any_secret_key_here"

# Set to True if you want to authenticate users using Cognito, otherwise set to False
AUTHENTICATE_USERS="true"

# AWS Credentials for Translation Service
TRANS_AWS_ACCESS_KEY_ID="your_aws_access_key_id"
TRANS_AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
TRANS_AWS_REGION_NAME="your_aws_region_name"

# AWS Credentials for IAM Service
IAM_AWS_ACCESS_KEY="your_aws_access_key"
IAM_AWS_SECRET_KEY="your_aws_secret_key"
IAM_AWS_REGION="your_aws_region"

# AWS Credentials for Cognito Service
COG_USER_POOL_ID="your_user_pool_id"
COG_APP_CLIENT_ID="your_app_client_id"
COG_APP_REGION="your_app_region"

# AWS Credentials for SNS Service
SNS_TOPIC_ARN="arn:aws:sns:<region>:<account-id>:<topic-name>"
SNS_REGION="your_sns_region"